.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s ease-in-out;
}

.footer__column-link:hover {
    opacity: 0.6;
}

.footer__column-link:last-child {
    margin-bottom: 16px;
}
