    .feynman__title {
        padding-top: 100px;
        margin: 0 auto 0 auto;
        line-height: 1.15;
        font-size: 120px;
        font-weight: bold;
        width: 648px;
        text-align: center;
    }
