.section-subtitle {
    position: relative;
    width: 60%;
    margin: 20px auto 0 auto;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    font-weight: normal;
    z-index: 10;
}