.feynman {
    position: relative;
    background-color: #f2f2f2;
    min-height: 890px;
    background-image: url("/images/feynman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
}
