li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    /* выше установили ограничения для секции */
}

.logo {
    width: 183px;
}

.logo_place_header {
    position: absolute;
    height: 32px;
    top: 30px;
    left: 64px;
}

.header__title {
    margin-left: 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 10;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 10;
}

.header__subtitle__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__main-illustration {
    position: absolute;
    height: 608px;
    width: 765px;
    bottom: 0;
    right: 0;
    z-index: 9;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    z-index: 1;
}

.content {
    background-color: white;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0 auto;
}

.two-columns {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph {
    margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.two-columns__paragraph_span-accent {
    font-weight: bold;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* position: relative; */
}

.section-title {
    display: block;
    width: 60%;
    margin: 100px auto 0 auto;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
}

.section-subtitle {
    display: block;
    width: 60%;
    margin: 20px auto 0 auto;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    font-weight: normal;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
}

.table__cell {
    margin-top: 60px;
    width: 250px;
    z-index: 10;
}

.table__heading {
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
    margin-bottom: 20px;
}

.table__text {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.table__text:last-child {
    margin-bottom: 0;
}

.feynman {
    position: relative;
    background-color: #f2f2f2;
    min-height: 890px;
    background-image: url(../images/feynman.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 867px 637px;
}

.feynman__title {
    padding-top: 100px;
    margin: 0 auto 0 auto;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    text-align: center;
}

.feynman__subtitle {
    margin: 70px auto 0 auto;
    line-height: 51px;
    font-size: 36px;
    text-align: center;
}

.feynman__link {
    display: block;
    position: absolute;
    top: 50%;
    right: 48px;
    text-align: right;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: #2f80ed;
}


/* и элемента с модификатором вида ключ-значение */

.kaufman {
    background-color: #1f1f1f;
    color: white;
    overflow: hidden;
    position: relative;
}

.kaufman-title {
    padding-top: 90px;
    margin: 0 auto 0 auto;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    text-align: center;
}

.table__cell_theme_dark {
    width: 200px;
    margin-right: 0;
    margin-top: 80px;
}

.table_theme_dark {
    margin: 0 auto 0 auto;
    background-color: #1f1f1f;
    padding-bottom: 90px;
}

.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    background-image: url(../images/kaufman-triangle.svg);
    z-index: 0;
}

.footer {
    background-color: #1f1f1f;
    color: white;
    min-height: 350px;
}

.footer__columns {
    width: 90%;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    padding: 60px 0 40px 0;
    justify-content: space-between;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column_content_right-part {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: right;
}

.logo_place-footer {
    width: 183px;
    height: 35px;
    background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
    display: block;
    line-height: 25px;
    font-size: 18px;
    text-align: left;
    margin: 18px 0 18px 0;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

.footer__column-link:last-child {
    margin-bottom: 18px;
}

.footer__column_content-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer__column_content-social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer__social-icon {
    margin-right: 10px;
}
